<div id="<%= dom_id webhook_endpoint %>">
  <p>
    <strong>Client name:</strong>
    <%= webhook_endpoint.client_name %>
  </p>

  <p>
    <strong>Api url:</strong>
    <%= webhook_endpoint.api_url %>
  </p>

  <p>
    <strong>Secret:</strong>
    <%= webhook_endpoint.secret %>
  </p>

</div>
